/** @format */
@import url('./typography.css');

:root {
  /* COLORS */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* BORDER-RADIUS */
  --radius-500: 50%;
  --radius-20: calc(20 / 16 * 1rem);
  --radius-10: calc(10 / 16 * 1rem);
  --radius-4: calc(4 / 16 * 1rem);

  /* SPACING */
  --spacing-24: calc(24 / 16 * 1rem);
  --spacing-20: calc(20 / 16 * 1rem);
  --spacing-16: 1rem;
  --spacing-12: calc(12 / 16 * 1rem);

  /* SIZES */
  --avatar-w: calc(92 / 16 * 1rem);
}

/* RESET */
*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  height: 100vh;
  line-height: var(--line-height);
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.card {
  background-color: var(--grey-800);
  border-radius: var(--spacing-12);
  box-shadow: 0px calc(20 / 16 * 1rem) calc(24 / 16 * 1rem)
    hsla(0, 100%, 0%, 0.08);
  padding: var(--spacing-24);
  text-align: center;
  width: calc(327 / 16 * 1rem);
}

.card__avatar {
  border-radius: var(--radius-500);
  margin-block-end: var(--spacing-20);
  width: var(--avatar-w);
}

.card__header {
  margin-block-end: var(--spacing-24);
  font-weight: var(--font-weight-bold);
  letter-spacing: calc(1 / 16 * 1rem);
}

.header__heading {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-semi);
}

.address__location {
  color: var(--green);
  font-size: var(--font-size-body);
}

.card__role {
  font-size: var(--font-size-body);
  margin-block-end: var(--spacing-24);
}

.card__links {
  list-style: none;
}

.links__item {
  margin-block-start: var(--spacing-16);
}

.item-link {
  background-color: var(--grey-700);
  border-radius: var(--radius-10);
  color: var(--white);
  display: block;
  font-weight: var(--font-weight-semi);
  padding: var(--spacing-12);
  width: 100%;
}

.item-link:hover,
.item-link:active {
  background-color: var(--green);
  caret-color: var(--grey-900);
  color: var(--grey-900);
}

footer {
  bottom: 2rem;
  position: relative;
}

.attribution {
  font-size: var(--font-size-detail);
  text-align: center;
}

.attribution a,
.attribution a:visited {
  color: var(--green);
}

.attribution a:hover,
.attribution a:active {
  color: var(--white);
}

@media (min-width: 40rem) {
  :root {
    /* SIZES */
    --avatar-w: calc(94 / 16 * 1rem);
  }

  .card {
    padding: calc(40 / 16 * 1rem);
    width: calc(380 / 16 * 1rem);
  }
}
